<a href="/kims/">  <input type = "button" name="home" value="HOME"></a> <br>

<h2>About Us</h2> <br>
<p>We are one of the largest corporate healthcare groups in AP and Telangana in terms of number of patients treated and treatments
offered, according to the CRISIL Report. We provide multi-disciplinary integrated healthcare services, with a focus on primary
secondary & tertiary care in Tier 2-3 cities and primary, secondary, tertiary and quaternary healthcare in Tier 1 cities.
We operate 9 multi-specialty hospitals under the “KIMS Hospitals” brand, with an aggregate bed capacity of 3,064,
including over 2,500 operational beds as of December 31, 2020, which is 2.2 times more beds than the second largest provider
in AP and Telangana, according to the CRISIL report. We offer a comprehensive range of healthcare services
across over 25 specialties and super specialties, including cardiac sciences, oncology, neurosciences, gastric sciences,
    orthopaedics, organ transplantation, renal sciences and mother & child care. </p>